<script setup>
  import {useCounterStore} from "../stores/counter.js";

  const storeCounter = useCounterStore();
</script>

<template>
  <div>
    <h1>About</h1>
    <button @click.prevent="storeCounter.increment" class="text-5xl">
      {{ storeCounter.count }}
    </button>
  </div>
</template>
