<script setup>
import {useCounterStore} from "../stores/counter.js";
import Counter from "../components/Counter.vue"

const storeCounter = useCounterStore();

</script>
<template>
  <div>
    <Counter :count="storeCounter.count" test="yeah"/>
    <div class="flex justify-center items-center gap-6">
      <button @click.prevent="storeCounter.decrement" class="text-xl text-white bg-indigo-700 px-4 py-1 rounded text-center">-</button>
      <button @click.prevent="storeCounter.increment" class="text-xl text-white bg-indigo-700 px-3 py-1 rounded text-center">+</button>
    </div>
    <div>
      This counter is {{ storeCounter.isOddEven }}
    </div>
    <div>
      <h4>Edit counter :</h4>
      <input type="number" v-model="storeCounter.count">
    </div>
  </div>
</template>

