<template>
    <p class="text-6xl m-20">
      {{ count }} / {{ test }}
    </p>
  </template>
  
  <script setup>
  import { defineProps } from 'vue';
  
  const props = defineProps({
    count: Number,
    test: String
  });
  </script>
  